<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyPortfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <link href="../static/css/panel.css" th:href="@{/css/panel.css}" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/header :: header"/>
<div class="container">
    <div th:replace="fragments/sidenav :: sidenav"/>
    <h1>Lekcja Pierwsza</h1>
    <h3>Tpy danych w Javie</h3>
   <p>W Javie wyrózniamy następujące typy danych:</p>
</div>



</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>