<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet">
    </div>
</head>
<body>

<footer>
    <p>Footer Text</p>
</footer>

</body>
</html>