<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet">
    </div>
</head>
<body>
<div th:fragment="sidenav">
<div class="sidenav">
    <a href="#" th:href="@{/panel1}">Typy danych</a>
    <a href="#">Zmienne</a>
    <a href="#">Obiekty</a>
    <a href="#">Metody, Klasy, Konstruktory</a>
    <a href="#contact">Pętle</a>
    <a href="#contact">Tablice</a>
    <a href="#contact">Panel 7</a>
    <a href="#contact">Panel 8</a>
    <a href="#contact">Panel 9</a>
    <a href="#contact">Panel 10</a>
    <a href="#contact">Panel 11</a>
</div>
</div>


</body>
</html>