.jumbotron {
    background-image: url('../img/waterfall-4478282_1920.jpg');

    text-align: center; color: #C0C0FF;
}

.jumbotron:hover {
    color: white;
}

body {
    background-color: gray;
    background-image: url('../img/waterfall-4478282_1920.jpg');
}

.container {

}

.navbar {
    position: fixed;
    width: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.card{
    margin: 0 auto;
    float: left; /* Added */
    margin-bottom: 10px; /* Added */
}

.clear {
    clear: both;
}

.card-img-top{
    background-image: url('../img/ruin-3746423_640.jpg');
}


