<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyPortfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="jumbotron">
    <h1>Hello World</h1>
    <p>Some cool text will be here <--</p>
</div>
<div class="container">
    <div class="card">
        <a href="#">
            <h4 class="card-title">Baza Wiedzy</h4>
            <img class="card-img-top" src="../static/img/books-1245690_640.jpg" th:src="@{/img/books-1245690_640.jpg}" width="240" height="160"
                 alt="Card image cap">
            <div class="card-body">
                <br/>
                <p class="card-text">Przydatne linki, źródła oraz zasoby</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="#">
            <h4 class="card-title">Moje Aplikacje</h4>
            <img class="card-img-top" src="../static/img/access-close-up-code-1089438.jpg" th:src="@{/img/access-close-up-code-1089438.jpg}" eight="160" width="240" alt="Card image cap">
            <div class="carcard-img-topd-body">
                <br/>
                <p class="card-text">Zbiór wybranych aplikacji webowych</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </a>
    </div>
    <div class="clear"></div>
    <div class="card">
        <a href="#">
            <h4 class="card-title">Card title</h4>
            <img class="card-img-top" src="../static/img/dark-daylight-eerie-1165982.jpg" th:src="@{/img/dark-daylight-eerie-1165982.jpg}" height="160" width="240"
                 alt="Card image cap">
            <div class="card-body">
                <br/>
                <p class="card-text">Some quick example text </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="#">
            <h4 class="card-title">Card title</h4>
            <img class="card-img-top" src="../static/img/dark-daylight-eerie-1165982.jpg" th:src="@{/img/dark-daylight-eerie-1165982.jpg}" height="160" width="240"
                 alt="Card image cap">
            <div class="card-body">
                <br/>
                <p class="card-text">Some quick example text </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </a>
    </div>
    <div class="clear"></div>
</div>



<div th:replace="fragments/footer :: footer"/>


</body>
</html>