<!DOCTYPE>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knowledge Base</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">


</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="jumbotron">
    <h1 style="text-align: center">Baza < /> Wiedzy</h1>
</div>
<div class="container">
    <div class="sidenav">
        <a href="#about">Panel 1</a>
        <a href="#services">Panel 2</a>
        <a href="#clients">Panel 3</a>
        <a href="#contact">Panel 4</a>
        <a href="#contact">Panel 5</a>
        <a href="#contact">Panel 6</a>
        <a href="#contact">Panel 7</a>
        <a href="#contact">Panel 8</a>
        <a href="#contact">Panel 9</a>
        <a href="#contact">Panel 10</a>
        <a href="#contact">Panel 11</a>
    </div>

    <div ng-controller="HelloController as hello">
        <h1>To proste jak {{ 2+2 }}</h1>
        <p>{{hello.exampleVariable}}</p>
        <br />
        <input type="text" ng-model="hello.exampleVariable">
        <p>{{hello.exampleVariable}}</p>
    </div>

</div>


<div th:replace="fragments/footer :: footer"/>

<script src="../static/bower_components/angular/angular.js" th:src="@{/bower_components/angular/angular.js}" type="application/javascript"></script>
<script src="../static/js/app.js" th:src="@{/js/app.js}" type="application/javascript"></script>
</body>
</html>