<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <style>
        p {color: white !important;}
        label{color: white !important;}
        legend{color: white !important;}
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container" >

    <form class="form-horizontal" action="#" th:action="@{/registerUser}" method="post" >
        <fieldset>
            <div id="legend" style="margin-top: 100px;">
                <legend>Register <p th:text="${message}" style="color: red !important;">Message</p></legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label">Username</label>
                <div class="controls" >
                    <input type="text"name="username" placeholder="Username" class="input-xlarge">
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>
            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label">E-mail</label>
                <div class="controls">
                    <input type="text" name="email" placeholder="email@adress" class="input-xlarge">
                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label">Password</label>
                <div class="controls">
                    <input type="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>


</body>
</html>